*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(216, 12%, 8%);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    height: 100vh;
}

.firststar{
    background-image: url(images/icon-star.svg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(213, 19%, 18%);
    margin-top: 40px;
    margin-left: 40px;
}
.container{
    border-radius: 5%;
    height: 450px;
    width: 450px;    
    background-image: radial-gradient(circle at 50% -1px, #232a34, #212832, #202731, #1e252f, #1d242e, #1c232d, #1b222c, #1a212b, #19202a, #181f29, #181f29, #171e28);
    box-shadow: 11px 10px 38px 0px rgba(0, 0, 0, 1);
}
.content, .firststar{

}
.content h1 {
    color:hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 40px;
} 
.content > p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color:hsl(217, 12%, 63%);
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 15px;
}

input[type="radio"]{
    width: 50px;
    height: 50px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    margin-left: 35px;
    margin-right: -10px;
    margin-top: 35px;
    cursor: pointer;
}
.submitButton{
    align-self: baseline;
    background-color: hsl(25, 97%, 53%);
    width: 380px;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: -200px;
    border-radius: 30px;
    color:hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 15px;
}
label{
    color:white;
}
.ratio{
    display: flex;
}
.num {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    margin-left: 35px;
    margin-right: -10px;
    margin-top: 35px;
    cursor: pointer;
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
}

.num:hover{
    background-color:hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}
.num:active{
    background-color: hsl(25, 97%, 53%);
}
.submitButton:active{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

/* Thank you state design */
.thanks{
    display: flex;
    width: 450px;
    height: 450px;
    flex-direction: column;
}
.img{
    background-image: url(images/illustration-thank-you.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;;
    width: 450px;
    height: 200px;

}
.contentThanks p:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    color:hsl(25, 97%, 53%);
    text-align: center;
    background-color: hsl(213, 19%, 18%);
    border: 1px solid hsl(213, 19%, 18%);
    border-radius: 50px;
    width: 200px;
    height: 30px;
    margin-left: 125px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

}
.contentThanks h1 {
    color:hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}
.contentThanks p:last-child{
    font-weight: 400;
    color:hsl(217, 12%, 63%);
    text-align: center;
    font-family: 'Overpass', sans-serif;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    letter-spacing: 0.1;
}

.thanks{
    visibility: hidden;
}

.active_number{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
